/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kumbh-sans-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/kumbh-sans-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/kumbh-sans-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/kumbh-sans-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-white: #ffffff;
  --color-gray-500: #6b7082;
  --color-gray-100: #e8e9ec;
  --color-blue-600: #19a1ae;
  --color-blue-400: #41cbd3;
  --color-navy-950: #2e3349;

  --color-gradient: linear-gradient(to bottom, #53ffee, #0989b4);

  --font-general: "Kumbh Sans", "sans-serif";

  --fs-xxs: 0.625rem; /* 10px */
  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-sub: 1.75rem; /* 28px */
  --fs-xl: 2rem; /* 32px */
  --fs-2xl: 2.25rem; /* 36px */
  --fs-3xl: 3rem; /* 48px */
  --fs-4xl: 3.5rem; /* 56px */
  --fs-5xl: 4.5rem; /* 72px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.5rem; /* 24px */
  --space-6: 2rem; /* 32px */
  --space-7: 2.5rem; /* 40px */
  --space-8: 3rem; /* 48px */
  --space-9: 3.5rem; /* 56px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-general);
}

.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 var(--space-4);
  background-color: var(--color-blue-600);
}

.card {
  --width: 21.875rem;
  --height: 23.375rem;
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: var(--height);
  max-width: var(--width);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 50px 100px rgba(8, 70, 94, 25%);
  background-color: var(--color-white);
  padding-bottom: var(--space-5);
}

.card__image img {
  display: block;
  width: 100%;
  height: auto;
}

.card__info {
  text-align: center;
  margin-top: -3rem;
}

.card__author-image {
  border-radius: 50%;
  border: 5px solid var(--color-white);
  margin-bottom: var(--space-4);
}

.author__name {
  color: var(--color-navy-950);
  font-size: var(--fs-md);
  line-height: 125%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  margin-bottom: var(--space-2);
}

.author__age {
  color: var(--color-gray-500);
  font-weight: 400;
}

.author__location {
  line-height: 125%;
  font-size: var(--fs-xs);
  color: var(--color-gray-500);
  margin-bottom: var(--space-5);
}

.socials {
  border-top: 1px solid var(--color-gray-100);
  padding-top: var(--space-5);
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-9);
}

.socials__item {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.socials__value {
  color: var(--color-navy-950);
  line-height: 125%;
  font-weight: 700;
  font-size: var(--fs-md);
}

.socials__title {
  color: var(--color-gray-500);
  line-height: 125%;
  font-size: var(--fs-xxs);
  letter-spacing: 1.5px;
}
